*{
    margin:auto;
    border:80%;
}
#container{
    border:1px solid black;
    height: 100vh;
    background-color: #2d3649;
    /* container: relative; */
}
#inner{
    /* border:1px solid black; */
    width: 250px;
    height: 260px;
    border-radius: 10px;
    margin:auto;
    margin-top:50px;
    background-color: #12151E;
    
}
input{
    margin-left: 30px;
    margin-top: 10px;
    border-radius:5px;
    outline:none;
    background-color: #2d3649;
    width: 180px;
    height: 20px;
    color: white;
    border:none;
    padding-right: 10px;
    

}
input::placeholder{
    color:lightgrey;
    
}
label{
    display:inline-block;
    margin-left: 30px;
    margin-top: 10px;
    color:white;
    font-size:0.9rem;
    

}
#btn{
    margin-left: 30px;
    margin-right:30px;
    
    margin-top:10px;
    width: 192px;
    border-radius:5px;
    border:none;
    
    background-color: blue;
    color:white;
    outline: none;
    padding-bottom: 2.7px;
    padding-top: 2.7px;
    


}
#para{
    
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 65px;
    text-align: center;
    display: inline-block;
    color:white;
    
    
}
span{
    background-image: linear-gradient(rgb(31, 138, 188),blue);
    background-clip: text;
    color:transparent
}
#par{
    position: relative;
}
.fa-regular{
    color: white;
    position :absolute;
    top: 13.5px;
    right: 35px ;
}

.err{
    color: red;
    margin-left: 30px;
    margin-top: 2px;
    font-size: 0.8rem;
}
.succ{
    color: green;
    text-align: center;
    margin-top: 2px;
    font-size: 0.8rem;
}
.inp{
    border:1px solid blue;
}
#toggle {
    border: 1px solid black;
    height: 30px;
    width: 60px;
    margin-left: 440px;
    margin-top: 20px;
    /* position: absolute; */

    /* right: 250px;
    top: 15px; */
    border-radius: 25px;
    /* display: flex;
    align-items: center;
    justify-content: center;
     */
     
}
#toggle #sun {
    font-size: 13px; 
    margin-top: 16px;
    margin-right: 255px; 
    color: grey;
}
#toggle #moon{
    font-size: 14px; 
    margin-top: 16px;
    margin-right:227px;
    color: #12151E;

}
 #innert{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 1px solid black;
    position: absolute;
    top: 23px;
    right: 255px;
    background-color: #12151E;

 }

.movel{
    transform: translateX(-28px);
    /* background-color: blue; */
}
.mover{
    transform: translateX(2px);
}


.containerl{
    border:1px solid black;
    height: 100vh;
    background-color: white;
    
}
.pcolor::placeholder{
    color:black;
}